@font-face {
  font-family: "Outfit";
  font-weight: 700; /* ExtraBold */
  src: url("./font/static/Outfit-Bold.woff2") format("woff2"),
    url("./font/static/Outfit-Bold.woff") format("woff"),
    url("./font/static/Outfit-Bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  font-weight: 400; /* SemiBold */
  src: url("./font/static/Outfit-Regular.woff2") format("woff2"),
    url("./font/static/Outfit-Regular.woff") format("woff"),
    url("./font/static/Outfit-Regular.ttf") format("truetype");
  font-display: swap;
}

:root {
  /* colors */
  --bg-color: hsl(212, 45%, 89%);
  --primary-color: hsl(218, 44%, 22%);
  --secondary-color: hsl(216, 15%, 48%);

  /* border radius */
  --border-radius: 1.25rem;
  --border-radius-secondary: 0.625rem;
  --border-radius-small: 6vw;
  --border-radius-secondary-small: 3vw;

  /* font sizes */
  --font-size-title: 1.375rem;
  --font-size-paragraph: 0.938rem;
  --font-size-title-small: 6.2vw;
  --font-size-paragraph-small: 4.3vw;

  /* font weights */
  --font-400: 400;
  --font-700: 700;

  /* width and height */
  --width-100: 100%;
  --width-90: 90%;
  --max-width-20r: 20rem;
  --height-100: 100vh;
  --height-31r: 31.25rem;

  /* repetitive margins */
  --margin-small: 1rem;
  --margin-large: 1.5rem;
}
*,
*::before,
*::after {
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}
body,
h1 {
  margin: 0; /* Reset margin for common elements */
  padding: 0; /* Reset padding for common elements */
}
body {
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-kerning: normal;
  font-style: normal;
}
.container {
  width: var(--width-100);
  height: var(--height-100);
  background-color: var(--bg-color);

  display: flex;
  justify-content: center;
  align-items: center;
}

.qr-container {
  width: var(--width-90);
  max-width: var(--max-width-20r);
  height: var(--height-31r);
  background-color: #fff;
  border-radius: var(--border-radius);

  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0477);
}
.qr-image-container,
.qr-description {
  width: var(--width-90);
  margin: auto;
  margin-top: -4px;
}
.qr-image-container {
  margin-top: var(--margin-small);
  margin-bottom: var(--margin-large);
  border-radius: var(--border-radius-secondary);
}

.qr-title {
  font-size: var(--font-size-title);
  line-height: 120%;
  letter-spacing: 0;
  color: var(--primary-color);
  font-weight: var(--font-700);
}

.qr-paragraph {
  font-size: var(--font-size-paragraph);
  line-height: 140%;
  letter-spacing: 0.013rem;
  color: var(--secondary-color);
  font-weight: var(--font-400);
  width: var(--width-90);
  margin: auto;
  margin-top: var(--margin-small);
}

@media (max-width: 22.25rem) {
  .qr-container {
    border-radius: var(--border-radius-small);
    height: auto;
  }
  .qr-image-container {
    border-radius: var(--border-radius-secondary-small);
    margin-top: 4vw;
  }
  .qr-description {
    margin-top: 6vw;
  }
  .qr-title {
    font-size: var(--font-size-title-small);
  }
  .qr-paragraph {
    font-size: var(--font-size-paragraph-small);
    margin-top: 4vw;
    margin-bottom: 10vw;
  }
}
