:root {
  /* colors */
  --bg-color: hsl(212, 45%, 89%);
  --primary-color: hsl(218, 44%, 22%);
  --secondary-color: hsl(216, 15%, 48%);

  /* border radius */
  --border-radius: 1.25rem;
  --border-radius-secondary: 0.625rem;
  --border-radius-small: 6vw;
  --border-radius-secondary-small: 3vw;

  /* font sizes */
  --font-size-title: 1.375rem;
  --font-size-paragraph: 0.938rem;
  --font-size-title-small: 6.2vw;
  --font-size-paragraph-small: 4.3vw;

  /* font weights */
  --font-400: 400;
  --font-700: 700;

  /* width */
  --width-100: 100%;
  --width-90: 90%;
  --max-width-20r: 20rem;

  /* repetitive margins */
  --margin-small: 1rem;
  --margin-large: 1.5rem;
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-kerning: normal;
  font-style: normal;
}
.container {
  width: var(--width-100);
  height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.qr-container {
  width: var(--width-90);
  max-width: var(--max-width-20r);
  background-color: #fff;
  border-radius: var(--border-radius);
}
.qr-image-container,
.qr-description {
  width: var(--width-90);
  margin: auto;
}
.qr-image-container {
  margin-top: var(--margin-small);
  border-radius: var(--border-radius-secondary);
}
.qr-description {
  margin-top: var(--margin-large);
}
.qr-title {
  font-size: var(--font-size-title);
  line-height: 120%;
  color: var(--primary-color);
  font-weight: var(--font-700);
}

.qr-paragraph {
  margin-top: var(--margin-small);
  margin-bottom: var(--margin-large);
  font-size: var(--font-size-paragraph);
  line-height: 140%;
  letter-spacing: 0.013rem;
  color: var(--secondary-color);
  font-weight: var(--font-400);
}

@media (max-width: 22.25rem) {
  .qr-container {
    border-radius: var(--border-radius-small);
  }
  .qr-image-container {
    border-radius: var(--border-radius-secondary-small);
    margin-top: 4vw;
  }
  .qr-description {
    margin-top: 6vw;
  }
  .qr-title {
    font-size: var(--font-size-title-small);
  }
  .qr-paragraph {
    font-size: var(--font-size-paragraph-small);
    margin-top: 4vw;
    margin-bottom: 10vw;
  }
}
